# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Misc
.DS_Store
*.pem

# Environment
.env
.env*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
*.md
!README.md

# Testing
coverage

# Temporary
tmp
temp

# Postman
postman
