version: '3.10'
services:
  api:
    build: .
    environment:
      DATA_FILE_PATH: /app/data/store.json
      JWT_SECRET: local-development-secret
      TZ: Australia/Sydney
    volumes:
      - app-data:/app/data
    ports:
      - '3000:3000'
volumes:
  app-data:
